## Adhoc Analysis of GMail Messages using AWS Athena

As Glue Catalog Table is ready, one can perform analysis of GMail Messages using Athena Queries.
* Athena is a serverless query engine which can be used for ad-hoc analysis, reporting as well as processing the data via catalog tables created on top of files in s3.
* We can install libraries such as **pyathena** and **sqlalchemy** to run SQL queries from clients such as Jupyter. We can also use Athena Query Editor directly to run queries for ad-hoc analysis.

```
pip install pyathena
pip install sqlalchemy
```

In [5]:
from pyathena import connect
import pandas as pd
conn = connect(
    s3_staging_dir='s3://itversitydata/gmail_messages/',
    region_name='us-east-1'
)

In [6]:
messages = pd.read_sql("SELECT * FROM gmail_db.messages LIMIT 10", conn)
messages.head(2)

/Users/itversity/Projects/Internal/bootcamp/gmail-puller/gp-venv/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,threadid,labelids,snippet,payload,sizeestimate,historyid,internaldate
0,17feb75706416d5f,17feb75706416d5f,"[CATEGORY_PROMOTIONS, UNREAD, INBOX]",[Click here] to see your new student enrollmen...,"{partid=, mimetype=text/html, filename=, heade...",55961,11785812,1648922814000
1,17feb5481dd454e3,17feb5481dd454e3,"[CATEGORY_PROMOTIONS, UNREAD, INBOX]",Learn more about Amazon pickup locations Amazo...,"{partid=, mimetype=multipart/alternative, file...",50192,11785811,1648920657000

In [8]:
pd.read_sql("SELECT count(*) FROM gmail_db.messages", conn)

/Users/itversity/Projects/Internal/bootcamp/gmail-puller/gp-venv/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   _col0
0    531

In [9]:
pd.read_sql("SELECT min(id), max(id) FROM gmail_db.messages", conn)

/Users/itversity/Projects/Internal/bootcamp/gmail-puller/gp-venv/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

              _col0             _col1
0  17fe27ee39d579d1  1800677955e7c0be